<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>chip</name>
	<displayName><![CDATA[CHIP]]></displayName>
	<version><![CDATA[1.0.2]]></version>
	<description><![CDATA[Accept payments via CHIP (FPX, DuitNow QR, cards and more).]]></description>
	<author><![CDATA[CHIPAsia]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
